<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo a rota clientes!</title>
</head>
<body>
    <h1>Bem-vindo a rota clientes!</h1>
         <h1>Bem-vindo a clientes</h1>
    <hr>
    <p><a href="/">Voltar para página inicial</a></p>
    <p>abc</p>
    
    <p>abc</p>
</body>
</html>