<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Primeiro Site em Node.js e Express.js</title>
</head>
<body>
    <h1>Hello, world!</h1>
    <p>Bem-vindo ao meu primeiro site em Node.js e Express.js</p>
    <hr>
    <p><a href="perfil">Ir ao seu perfil</a></p>
    <p><a href="/clientes">Ir para Clientes</a></p>
    <p><a href="/produtos">Ir para Produtos</a></p>
    <p><a href="/servicos">Ir para Serviços</a></p>
</body>
</html>