<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
</head>
<body>
    <h1>Bem-vindo a rota produtos</h1>
    <hr>
    <h3>Confira nossos Produtos</h3>
    <!-- Exibindo uma variavel Javascript dentro do html -->
    <!-- Comentário EJS <%# %> -->


        <!-- Percorrendo o vetor atraves do forEach -->

        <% listaProdutos.forEach(function(produto)  { %>
            <p>
                <a href="/produtos/<%= produto %>">
                 <%= produto %>

                 </a>
                </p>

      <%  })  %>


    <p><a href="/">Voltar para página inicial</a></p>
</body>
</html>